*{
    padding: 0;
    margin: 0;
    font-family: DM sans;
}
body{
    background-color: #171717;
}
nav{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vg;
}

.nav-lista{
    list-style: none;
    display: flex;
}

.nav-lista li{
    margin-left: 30px;
}
.titulo{
    font-style: normal;
    font-size: 1.5rem;
    line-height: 30px;
    color: #f9f9f9;
}
a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 23px;
    color: #f9f9f9;
    
}

.sobre-mim{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 44rem
    
}

.titulo-sobre{
  
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 2rem;
line-height: 40px;
color: #f9f9f9;
padding-bottom: 25px;

}

.sobre-mim p{
    color: #828282;   
}

.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vg;
}

.lista-redes{
    list-style: none;
    display: flex;
}

.redes li{
    padding: 90px;
}

.redes a{
    font-family: DM Sans;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 23px;
}



/*.intro-conteudo p:nth-child(1){
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    color: #f9f9f9;
   
}

.intro-conteudo p:nth-child(2){
    font-family: DM Sans;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #828282;
   
}


img{
    border-style: groove;
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-left: 600px;
    border-color: #00DF5E;
    
}*/