*{
    padding: 0;
    margin: 0;
    font-family: DM sans;
}
body{
    background-color: #1a1a1a;
}

/*HEADER*/
nav{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vg;
    padding-bottom: 30px;
}

.nav-lista{
    list-style: none;
    display: flex;
}

.nav-lista li{
    margin-left: 30px;
}
.titulo{
    font-style: normal;
    font-size: 1.5rem;
    line-height: 30px;
    color: #f9f9f9;
}
a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 23px;
    color: #f9f9f9;
    
}


/*Imagem e donwload do CV*/
.intro-conteudo p:nth-child(1){
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    color: #f9f9f9;
   
}

.intro-conteudo p:nth-child(2){
    font-family: DM Sans;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #828282;
   
}

.intro-conteudo{
   text-align: center;
}

.intro-conteudo h1{
    font-size: 2rem;
}


.img-conteudo{
    text-align: center;
    padding-bottom: 10px;
}

#imgSobre{
    width: 250px;
    height: 350px;
    border-bottom: 3px solid #00DF5E;
    box-sizing: border-box;
    border-radius: 15%;

}

button{
    border: 0;
    padding: 10px;
    width: 143px;
    height: 42px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #00DF5E;
    font-size: 1rem;
    color: #171717;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
}

/* SOBRE MIM*/

.sobre-mim,.titulo-projetos{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 44rem
    
}

h1{
  
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 1.3rem;
line-height: 40px;
color: #f9f9f9;
padding-bottom: 25px;

}

 p{
    color: #828282; 
    font-size: 12px;  
}

.sobre-mim p{
    font-size: 20px;
}


/* LINKS PARA REDES*/
.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vg;
}

.lista-redes{
    list-style: none;
    display: flex;
    
}

.redes li{
    padding: 90px;
}

.redes a{
    font-family: DM Sans;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 23px;
    
}

.titulo-sobre{
    padding-top: 50px;
}


/*Card projetos*/
.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-titulo{
    font-family: DM Sans;
    font-size: 1rem;
    line-height: 40px;
    color: #f9f9f9;

}
.row{

    display: grid;
    grid-template: 200px  200px / auto auto auto;
    justify-items: center;
    gap: 10px 5px;
    padding: 10px;
    
}

.lista-redes img{
    width: 35px;
    height: 35px;
    background-color: #00DF5E;
    padding: 20px;
    border-radius: 20px;

}

#card{
    background: #212121;
    border-bottom: 3px solid #00DF5E;
    box-sizing: border-box;
    width: 300px;
    height: 130px;
    padding: 10px;
    
}

/* MINHAS HABILIDADES*/

.titulo-skill{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.skill{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.lista-skill {
    display: flex;
    list-style: none;
}

.skill li{
    padding: 50px;
  
}

.lista-skill img{
    width: 40px;
    height: 40px;
    background-color:#00DF5E;
    padding: 20px;
    border-style: solid;
    border-color: #212121;  

}

/* RODAPÉ*/

footer pre{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    color: #828282; 
    padding: 5px;
    font-size: 0.9rem;
}

strong{
    color:#00DF5E;
}
