*{
    padding: 0;
    margin: 0;
    font-family: DM sans;
}

html { 
    scroll-behavior: smooth; 
}
body{
    background-color: #1a1a1a;
}

a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 23px;
    color: #f9f9f9;
}

h1{
  
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 40px;
    color: #f9f9f9;
    padding-bottom: 25px;
}


/*HEADER*/
nav{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vg;
    padding-bottom: 30px;
}

.nav-lista{
    list-style: none;
    display: flex;
}

.nav-lista li{
    margin-left: 30px;
}
.titulo{
    font-style: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #f9f9f9;
}

#nav-active:hover {
    color: #00DF5E; 
    transition: 0.3s;
    opacity: 0.8;
}


/*Imagem e donwload do CV*/
.intro-conteudo{
  padding-left: 210px;
}

.intro-conteudo h1{
    font-size: 2.8rem;
}

.img-conteudo{
    margin-right: 260px;
}
.conteudo{
    display: flex;
    justify-content: space-between;
}

#imgSobre{
    width: 210px;
    height: 290px;
    border: 5px solid #00DF5E;
    box-sizing: solid;
    border-radius: 50%;
}

button{
    border: 0;
    padding: 10px;
    width: 148px;
    height: 47px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #00DF5E;
    font-size: 1rem;
    color: #171717;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
}

#bt-active:hover{
    background-color: #00df5d8c;
    transition: 0.3s;
    opacity: 0.8;
}

/* SOBRE MIM*/

#sobre{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 55rem;
    font-size: 1.3rem;
    color: #828282; 
}

#sobre strong{
    color:#828282;
}

/* LINKS PARA REDES*/
.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vg;
}

.lista-redes{
    list-style: none;
    display: flex;
    
}

.redes li{
    padding: 90px;
}

.redes a{
    font-family: DM Sans;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 23px;
    
}

.titulo-sobre{
    padding-top: 50px;
}

.lista-redes img{
    width: 35px;
    height: 35px;
    background-color: #00DF5E;
    padding: 20px;
    border-radius: 20px;

}

#redes-active:hover{
    background-color: #00df5d8c;
    transition: 0.3s;
    opacity: 0.8;
}

/*Card projetos*/

#titulo-projetos{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 44rem
    
}

.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-titulo{
    font-family: DM Sans;
    font-size: 1rem;
    line-height: 40px;
    color: #f9f9f9;

}
.row{

    display: grid;
    grid-template: 200px  200px / auto auto auto;
    justify-items: center;
    gap: 10px 5px;
    padding: 10px;
    
}

.row p {
    color: #828282; 
    font-size: 0.8rem;  
}

#card{
    background: #302f2f;
    box-sizing: border-box;
    border-bottom: 3px solid #00DF5E;
    width: 200px;
    height: 110px;
    padding: 10px;
    
}

#card:hover{
    background: #212121;
    transition: 0.2s;
    opacity: 0.8;
}

.image{
    width: 20px;
    height: 20px;
}
/* MINHAS HABILIDADES*/

#titulo-skill{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.skill{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.lista-skill {
    display: flex;
    list-style: none;
}

.skill li{
    padding: 50px;
  
}

.lista-skill img{
    width: 40px;
    height: 40px;
    background-color:#00DF5E;
    padding: 20px;
    border-style: solid;
    border-color: #212121;  

}

/* RODAPÉ*/

footer pre{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    color: #828282; 
    padding: 5px;
    font-size: 0.9rem;
}

strong{
    color:#00DF5E;
}

/* RESPONSIVIDADE 1920*/

@media (width: 1920px){
    .intro-conteudo{
        padding-left: 350px;
    }

    .intro-conteudo h1{
        font-size: 3rem;
    }
    
    .img-conteudo{
        margin-right: 405px;
    }

    button{
        width: 152px;
        height: 50px;
    }
    
}

/* RESPONSIIDADE MOBILE  320px*/

@media only screen and (width:320px){
    
/*HEADER*/
header{
    display: none;
}

.img-conteudo{
    display: none;
}

.intro-conteudo h1{
    width: 500px;
    font-size: 3rem;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 170px;
}

button{
    width: 140px;
    height: 60px;
    font-size: 1.2rem;
}

/* SOBRE MIM*/
#sobre{
    text-align: center;
   margin-left: 20px;
    width: 41rem;
    font-size: 1.3rem;
    color: #828282; 
}

/* LINKS PARA REDES*/
.lista-redes{
    list-style: none;
    margin-left: 390px;
   
}

.redes li{
    padding: 30px;
}

/*Card projetos*/
#card{
    width: 220px;
}

/* MINHAS HABILIDADES*/

#titulo-skill{

text-align: center;
margin-left: 260px;    
width: 200px;
}

.lista-skill {
    margin-left: 395px;
}

.skill li{
    padding: 30px;
}

/*RODAPÉ*/

footer pre{
    margin-right: 20px;
    width: 694px;
}

strong{
    color:#00DF5E;
}

}

/* RESPONSIVIDADE MOBILE 360px*/
@media only screen and (width:360px){
    
/*HEADER*/
header{
    display: none;
}
    
.img-conteudo{
    display: none;
}
    
.intro-conteudo h1{
    width: 500px;
    font-size: 3rem;
}
    
.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 130px;
}
    
button{
    width: 140px;
    height: 60px;
    font-size: 1.2rem;
}
    
 /* SOBRE MIM*/
#sobre{
    text-align: center;
    margin-left: 20px;
    width: 41rem;
    font-size: 1.3rem;
    color: #828282; 
}
    
/* LINKS PARA REDES*/
.lista-redes{
    list-style: none;
    margin-left: 345px;
   
}
    
.redes li{
    padding: 30px;
}
    
/*Card projetos*/
#card{
    width: 220px;
}
    
/* MINHAS HABILIDADES*/
    
#titulo-skill{
text-align: center;
margin-left: 260px;    
width: 200px;
}
    
.lista-skill {
     margin-left: 355px;
}
    
.skill li{
    padding: 30px;
}
    
/*RODAPÉ*/
    
footer pre{
    margin-right: 20px;
     width: 694px;
}
    
strong{
    color:#00DF5E;
}
    
}




/* RESPONSIVIDADE MOBILE 411px*/
@media only screen and (width:411px){
    
    /*HEADER*/
    header{
        display: none;
    }
        
    .img-conteudo{
        display: none;
    }
        
    .intro-conteudo h1{
        width: 500px;
        font-size: 3rem;
    }
        
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 80px;
    }
        
    button{
        width: 140px;
        height: 60px;
        font-size: 1.2rem;
    }
        
     /* SOBRE MIM*/
    #sobre{
        text-align: center;
        margin-left: 20px;
        width: 41rem;
        font-size: 1.3rem;
        color: #828282; 
    }
        
    /* LINKS PARA REDES*/
    .lista-redes{
        list-style: none;
        margin-left: 300px;
       
    }
        
    .redes li{
        padding: 30px;
    }
        
    /*Card projetos*/
    #card{
        width: 220px;
    }
        
    /* MINHAS HABILIDADES*/
        
    #titulo-skill{
    text-align: center;
    margin-left: 265px;    
    width: 200px;
    }
        
    .lista-skill {
         margin-left: 310px;
    }
        
    .skill li{
        padding: 30px;
    }
        
    /*RODAPÉ*/
        
    footer pre{
        margin-right: 20px;
         width: 694px;
    }
        
    strong{
        color:#00DF5E;
    }
        
    }


/* RESPONSIVIDADE MOBILE 375px*/
@media only screen and (width:375px){
    
    /*HEADER*/
    header{
        display: none;
    }
        
    .img-conteudo{
        display: none;
    }
        
    .intro-conteudo h1{
        width: 500px;
        font-size: 3rem;
    }
        
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 120px;
    }
        
    button{
        width: 140px;
        height: 60px;
        font-size: 1.2rem;
    }
        
     /* SOBRE MIM*/
    #sobre{
        text-align: center;
        margin-left: 20px;
        width: 41rem;
        font-size: 1.3rem;
        color: #828282; 
    }
        
    /* LINKS PARA REDES*/
    .lista-redes{
        list-style: none;
        margin-left: 340px;
       
    }
        
    .redes li{
        padding: 30px;
    }
        
    /*Card projetos*/
    #card{
        width: 220px;
    }
        
    /* MINHAS HABILIDADES*/
        
    #titulo-skill{
    text-align: center;
    margin-left: 260px;    
    width: 200px;
    }
        
    .lista-skill {
         margin-left: 340px;
    }
        
    .skill li{
        padding: 30px;
    }
        
    /*RODAPÉ*/
        
    footer pre{
        margin-right: 20px;
         width: 694px;
    }
        
    strong{
        color:#00DF5E;
    }
        
    }
    

/* RESPONSIVIDADE MOBILE 414px*/
@media only screen and (width:414px){
    
    /*HEADER*/
    header{
        display: none;
    }
        
    .img-conteudo{
        display: none;
    }
        
    .intro-conteudo h1{
        width: 500px;
        font-size: 3rem;
    }
        
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 80px;
    }
        
    button{
        width: 140px;
        height: 60px;
        font-size: 1.2rem;
    }
        
     /* SOBRE MIM*/
    #sobre{
        text-align: center;
        margin-left: 20px;
        width: 41rem;
        font-size: 1.3rem;
        color: #828282; 
    }
        
    /* LINKS PARA REDES*/
    .lista-redes{
        list-style: none;
        margin-left: 295px;
       
    }
        
    .redes li{
        padding: 30px;
    }
        
    /*Card projetos*/
    #card{
        width: 220px;
    }
        
    /* MINHAS HABILIDADES*/
        
    #titulo-skill{
    text-align: center;
    margin-left: 265px;    
    width: 200px;
    }
        
    .lista-skill {
         margin-left: 305px;
    }
        
    .skill li{
        padding: 30px;
    }
        
    /*RODAPÉ*/
        
    footer pre{
        margin-right: 20px;
         width: 694px;
    }
        
    strong{
        color:#00DF5E;
    }
        
    }

/* RESPONSIVIDADE MOBILE 375 X 812*/
@media only screen and (width:375px) and (height:812px){
    
    /*HEADER*/
    header{
        display: none;
    }
    .img-conteudo{
        display: none;
    }
        
    .intro-conteudo h1{
        width: 500px;
        font-size: 3rem;
    }
        
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 120px;
    }
        
    button{
        width: 140px;
        height: 60px;
        font-size: 1.2rem;
    }
        
     /* SOBRE MIM*/
    #sobre{
        text-align: center;
        margin-left: 20px;
        width: 41rem;
        font-size: 1.3rem;
        color: #828282; 
    }
        
    /* LINKS PARA REDES*/
    .lista-redes{
        list-style: none;
        margin-left: 340px;
       
    }
        
    .redes li{
        padding: 30px;
    }
        
    /*Card projetos*/
    #card{
        width: 220px;
    }
        
    /* MINHAS HABILIDADES*/
        
    #titulo-skill{
    text-align: center;
    margin-left: 260px;    
    width: 200px;
    }
        
    .lista-skill {
         margin-left: 340px;
    }
        
    .skill li{
        padding: 30px;
    }
        
    /*RODAPÉ*/
        
    footer pre{
        display: none;
    }
        
    }

    /* RESPONSIVIDADE MOBILE 720px a 740*/
@media only screen and (min-width:720px) and (max-width:740px){
    
    
    header{
        display: none;
    }
        
    .img-conteudo{
        display: none;
    }

    footer pre{
        display: none;
    }
        
    .intro-conteudo h1{
        width: 500px;
        font-size: 3rem;
    }
        
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 240px;
    }
        
    button{
        width: 140px;
        height: 60px;
        font-size: 1.2rem;
    }
        
     /* SOBRE MIM*/
    #sobre{
        text-align: center;
        margin-left: 20px;
        width: 41rem;
        font-size: 1.3rem;
        color: #828282; 
    }
        
    /* LINKS PARA REDES*/
    .lista-redes{
        list-style: none;
       
    }
        
    .redes li{
        padding: 30px;
    }
        
    /*Card projetos*/
    #card{
        width: 220px;
    }
        
    /* MINHAS HABILIDADES*/
        
    #titulo-skill{
    text-align: center;
    margin-left: 265px;    
    width: 200px;
    }
        
    .skill li{
        padding: 30px;
    }
        
        
    }

   
    
    
